* {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.todo-container {
  max-width: 550px;
  min-width: 500px;
}

.main-container h1 {
  width: 100%;
  font-size: 100px;

  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  font-weight: 100;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0px;

  margin-top: 10px;
  margin-bottom: 3px;
}

.todo-container {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.todo-container input {
  border: none;
  width: 100%;
  padding: 16px 16px 17px 18px;
  background-color: rgb(254 254 254);
  font-size: 24px;
  font-weight: 100;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  line-height: 1.4em;

  box-sizing: border-box;
  box-shadow: inset 0 -2px 0px rgb(0 0 0 / 8%);
}

.todo-container input::placeholder {
  font-style: italic;
  color: rgb(230 230 230);
  font-weight: 200;
}

.todo-container input:focus {
  outline-width: 0;
}

.todo-input {
  display: flex;
  background-color: rgb(254 254 254);
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 8%);
  justify-content: center;
  align-items: center;
}

.toggle-icon {
  width: 47px;
  height: 34px;
  font-size: 22px;
  -webkit-transform: rotate(90deg);
  color: #e6e6e6;
  margin-top: 1px;
}

.toggle-icon-active {
  color: #737373;
  cursor: pointer;
}

.todo-row {
  display: flex;
  align-items: center;
  background-color: white;
  height: 58px;
  border-bottom: 1px solid #ededed;
}

.todo-row input[type="checkbox"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.todo-row input[type="checkbox"]:checked,
.todo-row input[type="checkbox"]:not(:checked) {
  border-radius: 50%;
}

.todo-row-text {
  word-break: break-all;
  padding: 15px 15px 15px 7px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.todo-text,
.todo-text-complete {
  font-size: 24px;
  font-weight: 200;
  color: #4d4d4d;
  width: 100%;
  text-align: left;
}

.todo-text-complete {
  color: #d9d9d9;
}

.todo-text:hover + .toggle-remove,
.toggle-remove:hover,
.todo-text-complete:hover + .toggle-remove {
  display: block;
}

.toggle-remove {
  display: none;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  border: none;
  background: none;
  font-weight: 200;
  margin-right: 13px;
  cursor: pointer;
}

.todo-footer {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  width: 100%;
  height: 40px;

  background: white;
  font-weight: 100 !important;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0px;

  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgb(0 0 0 / 20%);
}

.round {
  display: flex;
  align-items: center;
  padding-left: 7px;
  margin-right: 7px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  position: absolute;
}

.round label:after {
  border: 2px solid #66bb6a;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #ccc;

  /*background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");*/
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.todo-filter-btn,
.todo-clear-btn {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background: none;
}

.todo-filter-btn {
  margin: 3px;
  padding: 3px 7px;
}

.todo-clear-btn {
  margin: 0;
  padding: 0;
}

.todo-filter-btn:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.todo-clear-btn:hover {
  text-decoration: underline;
}

.todo-filter-btn-selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.todo-footer-left {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 15px;
  margin-right: 10px;
}

.todo-footer-center {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.todo-footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}

.todo-footer label,
.todo-footer button {
  color: #777;
  font-weight: 200;
}

.todo-footer button {
  text-transform: capitalize;
  background: none; /* b */
  outline-width: 0; /* b */
  font-size: 14px; /* b */
}
